---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — 360 Web`;
const subtitle = "360 Web";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
              		<div class="about">
      		    <div>

      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

      			<div id="bigcard2" class="bigcard">
      				<img src="img/pr/360web/0.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/pr/360web/2.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/pr/360web/3.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/pr/360web/4.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/pr/360web/5.webp">
      			</div>


      		</div>
      	</div>
</BaseLayout>
