---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Apt Product`;
const subtitle = "Apt Product";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
      		<div class="about9">
      		    <div>
      		             <p>I developed my own DatingTech application, enabling users to connect through local events. The app was entirely conceptualized and overseen by me. It was created using Flutter and Go for both iOS and Android platforms. Additionally, I was responsible for crafting the app's B2C/B2B landing pages and handling all aspects of print, digital, offline, social, and merchandise layouts. The app was officially launched in May 2021 and successfully garnered 7000 Monthly Active Users at its peak</p> 
      		                 		                <div class="button">
      			        <span class=".solar--play-circle-bold"></span><a href="https://vimeo.com/714390233">Watch showreel</a>
      			    </div>   
      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

      			<div id="bigcard2" class="bigcard">
      				<img src="/img/pr/apt/1.webp">
      			</div>


            <div id="bigcard2" class="bigcard">
              <img src="/img/pr/apt/2.webp">
            </div>

            <div id="bigcard2" class="bigcard">
              <img src="/img/pr/apt/3.webp">
            </div>


      		</div>
      	</div>
</BaseLayout>
