---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Badoo Hotline`;
const subtitle = "Badoo Hotline";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
              		<div class="about9">
      		    <div>
      		                <p>The visual concept of the mobile site draws inspiration from a virtual hotline metaphor. Upon entering the site, users are metaphorically connected with operators. By selecting an operator, users can engage with various content formats such as reading articles, listening to audio, watching instructional videos, taking tests, and experiencing ASMR content</p>
      		                <div class="button">
      			        <span class=".solar--play-circle-bold"></span><a href="https://vimeo.com/484120513">Watch showreel</a>
      			    </div>   	
      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

      			<div id="bigcard2" class="bigcard">
      				<img src="/img/pr/badoo-hotline/1.webp">
      			</div>
      			    			<div id="bigcard2" class="bigcard">
      				<img src="/img/pr/badoo-hotline/2.webp">
      			</div>
      		</div>
      	</div>
</BaseLayout>
