---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Yandex Practicum's Black Friday 2025`;
const subtitle = "Yandex Practicum's Black Friday 2025";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
              		<div class="about9">
      		    <div>
      		         <p>THE MAIN DISCOUNT OF THE YEAR GREEN PINK BLUE 20 PERCENT NEW BLACK FRIDAY SKILLS IT B3gegDSGj23t!11! Black Friday in a concise and punchy way</p>
      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

      			    			<div id="bigcard2" class="bigcard">
    				<img src="/img/gr/black-friday-practicum/01.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
    				<img src="/img/gr/black-friday-practicum/02.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
    				<img src="/img/gr/black-friday-practicum/03.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
    				<img src="/img/gr/black-friday-practicum/04.webp">
      			</div>

      			    			    			<div id="bigcard2" class="bigcard">
    				<img src="/img/gr/black-friday-practicum/0.gif">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
    				<img src="/img/gr/black-friday-practicum/05.webp">
      			</div>

      			 	    			    			<div id="bigcard2" class="bigcard">
    				<img src="/img/gr/black-friday-practicum/06.webp">
      			</div>
      			    		    			    			<div id="bigcard2" class="bigcard">
    				<img src="/img/gr/black-friday-practicum/01.gif">
      			</div>


      		</div>
      	</div>
</BaseLayout>
