---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Cinema (Concept)`;
const subtitle = "Cinema (Concept)";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
      		<div class="about">
      		    <div>

      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

      			<div id="bigcard2" class="bigcard">
      				<img src="/img/pr/cinema/1.webp">
      			</div>


            <div id="bigcard2" class="bigcard">
              <img src="/img/pr/cinema/2.webp">
            </div>

            <div id="bigcard2" class="bigcard">
              <img src="/img/pr/cinema/3.webp">
            </div>

      		</div>
      	</div>
</BaseLayout>
