---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Fonts`;
const subtitle = "Fonts";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
      		    		<div class="about9">
      		    		    		<p>Please reach me out via mail@danyavidmich.com if you want to use these fonts in your work
      			</p>
      		    		    <div>
      		    <div>

      			</div>
      			    		</div>
      			<div class="action-group">
      			            			<div class="button">
      			        <span class="tabler--mail-filled"></span><a href="mailto:mail@danyavidmich.com">Get in touch</a>
      			            			    </div> 
      			    </div>   	

      			    </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

  		<div id="bigcard2" class="bigcard">
              <a href="chekhov.html"><img id="click" src="img/gr/chekhov/1.webp"></a>
              <a href="chekhov.html"><p>Font "Chekhov"</p></a>
      			</div>

      			<div id="bigcard2" class="bigcard">
              <a href="gorenko.html"><img id="click" src="img/gr/gorenko/5.webp"></a>
              <a href="gorenko.html"><p>Font "Gorenko"</p></a>
      			</div>


            <div id="bigcard2" class="bigcard">
  <a href="korolev.html"><img id="click" src="img/gr/korl.webp"></a>
                <a href="korolev.html"><p>Font "Korolev"</p></a>

            </div>

            <div id="bigcard2" class="bigcard">
  <a href="rublev.html"><img id="click" src="img/gr/rublev/cover.gif"></a>
              <a href="rublev.html"><p>Font "Rublev"</p></a>


            </div>

                      <div id="bigcard2" class="bigcard">
  <a href="https://www.artlebedev.ru/type/echelon/"><img id="click" src="img/gr/echelon/cover.gif"></a>
              <a href="https://www.artlebedev.ru/type/echelon/"><p>Font "Echelon"</p></a>

            </div>

      		</div>
      	</div>
</BaseLayout>
