---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Font "Gorenko"`;
const subtitle = "Font \"Gorenko\"";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
              		<div class="about9">
      		    <div>
      		         <p>The persona of Anna Akhmatova (née Gorenko), one of the most prominent Russian poets of the 20th century, inspired the creation of this typeface. The curves and breaks in her verses became the foundation for letters that seem to "writhe" in the anguish of history yet remain resilient and readable. I hope I have succeeded in capturing the spirit of fractured human destinies that Akhmatova so poignantly celebrated in her work</p>
      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

      			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/gorenko/1.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/gorenko/2.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/gorenko/3.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/gorenko/4.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/gorenko/5.webp">
      			</div>

        			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/gorenko/6.webp">
      			</div>

      			    			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/gorenko/7.webp">
      			</div>

      			    			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/gorenko/8.webp">
      			</div>

      		</div>
      	</div>
</BaseLayout>
