---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Font "Korolev"`;
const subtitle = "Font \"Korolev\"";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
      		<div class="about">
      		    <div>

      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

            <div  id="bigcard2" class="cards">

              <div class="card">
                <img src="img/gr/korolev/2.webp">
              </div>

              <div class="card">
                <img src="img/gr/korolev/3.webp">
              </div>

    </div>

            <div  id="bigcard2" class="cards">

              <div class="card">
                <img src="img/gr/korolev/4.webp">
              </div>

              <div class="card">
                <img src="img/gr/korolev/5.webp">
              </div>

    </div>

      		</div>
      	</div>
</BaseLayout>
