---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — MAY OF MAY`;
const subtitle = "MAY OF MAY";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
              		<div class="about9">
              		    <p>May of May is a brand that offers vibrant clothing, designed to be worn for no specific reason, but purely for personal pleasure and desire.
  This concept is reflected in the typography, which encourages, "Hey, stay curious about yourself and celebrate your diversity every day"</p>
      		    <div>

      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">



      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/may-of-may/4.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/may-of-may/7.webp">
      			</div>


      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/may-of-may/9.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/may-of-may/0.webp">
      			</div>

      		</div>
      	</div>
</BaseLayout>
