---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Palio (Concept)`;
const subtitle = "Palio (Concept)";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
              		<div class="about">
      		    <div>

      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

      			<div id="bigcard2" class="bigcard">
      				<img src="/img/gr/palio/5.webp">
      			</div>

            <div id="bigcard2" class="bigcard">
              <img src="/img/gr/palio/9.webp">
            </div>

  <div  id="bigcard2" class="cards">

              <div class="card">
                <img src="/img/gr/palio/1.webp">
              </div>

              <div class="card">
                <img src="/img/gr/palio/2.webp">
              </div>

    </div>

    <div  id="bigcard2" class="cards">

              <div class="card">
                <img src="/img/gr/palio/3.webp">
              </div>

              <div class="card">
                <img src="/img/gr/palio/4.webp">
              </div>

    </div>

            <div id="bigcard2" class="bigcard">
              <img src="/img/gr/palio/7.webp">
            </div>

                                <div id="bigcard2" class="bigcard">
              <img src="/img/gr/palio/8.webp">
            </div>

                      <div id="bigcard2" class="bigcard">
              <img src="/img/gr/palio/10.webp">
            </div>

                                <div id="bigcard2" class="bigcard">
              <img src="/img/gr/palio/11.webp">
            </div>

                                          <div id="bigcard2" class="bigcard">
              <img src="/img/gr/palio/12.webp">
            </div>

      		</div>
      	</div>
</BaseLayout>
