---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Book series of Chekhov's plays`;
const subtitle = "Book series of Chekhov's plays";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
              		<div class="about9">
      		    <div>
      		         <p></p>
      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

      			    			<div id="bigcard2" class="bigcard">
      				<img src="/img/gr/plays/01.webp">
      			</div>


      			    			<div id="bigcard2" class="bigcard">
      				<img src="/img/gr/plays/02.webp">
      			</div>


      			    			<div id="bigcard2" class="bigcard">
      				<img src="/img/gr/plays/03.webp">
      			</div>
    			    			<div id="bigcard2" class="bigcard">
      				<img src="/img/gr/plays/04.webp">
      			</div>
        			    			<div id="bigcard2" class="bigcard">
      				<img src="/img/gr/plays/05.webp">
      			</div>

      			    			    			<div id="bigcard2" class="bigcard">
      				<img src="/img/gr/plays/06.webp">
      			</div>

      			    			    			<div id="bigcard2" class="bigcard">
      				<img src="/img/gr/plays/07.webp">
      			</div>

      			    			    			    			<div id="bigcard2" class="bigcard">
      				<img src="/img/gr/plays/08.webp">
      			</div>

      		</div>
      	</div>
</BaseLayout>
