---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Temp School Identity`;
const subtitle = "Temp School Identity";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
      		<div class="about">
      		    <div>

      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

      			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/temp-school-graphics/1.webp">
      			</div>


            <div id="bigcard2" class="bigcard">
              <img src="img/gr/temp-school-graphics/2.webp">
            </div>

            <div id="bigcard2" class="bigcard">
              <img src="img/gr/temp-school-graphics/3.webp">
            </div>

                      <div id="bigcard2" class="bigcard">
              <img src="img/gr/temp-school-graphics/4.webp">
            </div>

                      <div id="bigcard2" class="bigcard">
              <img src="img/gr/temp-school-graphics/5.webp">
            </div>

      		</div>
      	</div>
</BaseLayout>
