---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Wouly`;
const subtitle = "Wouly Identity";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
      		<div class="about9">
      		    <div>
      		              <p>New identity for Wouly — a service that lets you split prices into four equal pieces, making your wishes more achievable. The layouts are all about dividing the space into four parts — kind of like the whole idea of the service. It’s simple, visual, and straight to the point. Bright colors keeps the vibe upbeat and approachable. Split layouts reflects the "four equal parts" idea visually. Check out how it works in subway posters, billboards, and urban spaces
  </p> 
      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

      			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/wouly/1.webp">
      			</div>

      			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/wouly/2.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/wouly/3.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/wouly/4.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/wouly/5.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/wouly/6.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/wouly/7.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/wouly/8.webp">
      			</div>

      		</div>
      	</div>
</BaseLayout>
