---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

const title = `Danya Vidmich — Branding Yandex Practicum PRO`;
const subtitle = "Branding Yandex Practicum PRO";
const tertiary = "";
---

<BaseLayout {title}>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
              		<div class="about9">
      		    <div>
      		         <p>Yandex Practicum courses for professionals. Stay ahead with AI-powered tools, real-world practice, and guidance from top industry leaders — so your career keeps moving forward. Our visual identity is built around the idea of work-life blend, where work and life flow together naturally and inspire each other.</p>
      			    <div class="button">
      			        <a href="https://practicum.yandex.ru/pro/">Visit Practicum Pro</a>
      			    </div>   
      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/yandex-practicum-pro/5.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/yandex-practicum-pro/2.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/yandex-practicum-pro/3.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/yandex-practicum-pro/4.webp">
      			</div>

      			    			<div id="bigcard2" class="bigcard">
      				<img src="img/gr/yandex-practicum-pro/1.webp">
      			</div>



      		</div>
      	</div>
</BaseLayout>
